.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--primary-bg);
  padding: 20px;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 20px;
  animation: fadeInFromBottom var(--transition-speed) ease-in-out;
}

.projectGrid {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.projectCard {
  background-color: var(--primary-bg);
  padding: 20px;
  border-radius: 8px;
  color: var(--primary-text);
  text-align: center;
  transition: transform var(--transition-speed);
  animation: fadeInScale var(--transition-speed) ease-in-out;
  border: 2px solid var(--secondary-bg);
}

.projectCard:hover {
  transform: translateY(-10px);
}

.projectCard h2 {
  margin-bottom: 10px;
}

.projectCard p {
  color: var(--secondary-text);
}

.languages {
  margin-top: 10px;
  color: var(--secondary-text);
}

.readmeButton {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: var(--highlight-bg);
  border: none;
  border-radius: 5px;
  color: var(--primary-text);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.readmeButton:hover {
  background-color: var(--secondary-bg);
}

.readmeContent {
  margin-top: 15px;
  padding: 10px;
  background-color: var(--primary-bg);
  border-radius: 5px;
  color: var(--primary-text);
  text-align: left;
  white-space: pre-wrap;
  max-height: 500px;
  overflow-y: auto;
  cursor: default; /* Prevent pointer cursor on README content */
}

/* Styling for markdown elements */
.readmeContent h1,
.readmeContent h2,
.readmeContent h3 {
  margin-top: 20px;
  color: var(--highlight-text);
}

.readmeContent p {
  line-height: 1.6;
}

.readmeContent ul,
.readmeContent ol {
  padding-left: 20px;
}

.readmeContent table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

.readmeContent table,
.readmeContent th,
.readmeContent td {
  border: 1px solid #ddd;
}

.readmeContent th,
.readmeContent td {
  padding: 8px;
  text-align: left;
}

.readmeContent th {
  background-color: var(--secondary-bg);
  color: var(--primary-text);
}

/* Table of Contents Styling */
.readmeContent a {
  color: var(--primary-text);
  text-decoration: none;
  cursor: text; /* Set the cursor to text when hovering over links */
}

.readmeContent a:hover {
  color: var(--tertiary-text); /* Change the text color on hover */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .title {
    font-size: 2rem;
  }

  .projectGrid {
    width: 100%;
    max-width: none;
  }

  .projectCard {
    width: 100%;
    margin: 0 auto;
  }
}

@keyframes fadeInFromBottom {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}