:root {
  --primary-bg: #2b2b2b; 
  --secondary-bg: turquoise; 
  --highlight-bg: #525252; 
  --accent-color: #707070; 
  --accent-hover: #5c5c5c; 
  --primary-text: white;
  --secondary-text: #b0b0b0; 
  --tersiary-text: turquoise;
  --hover-effect: rgba(255, 255, 255, 0.1); 
  --transition-speed: 0.3s;
  --font-family: 'Poppins', sans-serif;
  --box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background-color: var(--primary-bg);
  color: var(--primary-text);
  line-height: 1.6;
}