:root {
    /* ==================== GENERAL SETTINGS ==================== */
    /* Font Sizes */
    --font-size-base: 1rem;       /* 16px */
    --font-size-md: 1.125rem;     /* 18px */
    --font-size-lg: 1.5rem;       /* 24px */
    --font-size-xl: 2rem;         /* 32px */
    --font-size-xxl: 2.5rem;      /* 42px */

    /* ==================== STANDARD COLORS ==================== */

    /* Background Colors */
    --primary-bg-light: #ffffff;
    --primary-bg-dark: #1e1f22;
    --secondary-bg-light: #f3f4f6;
    --secondary-bg-dark: #2b2d31;
    --tersiary-bg-light: #e5e7eb;
    --tersiary-bg-dark: #383a40;

    --frosted-bg-light: rgba(255, 255, 255, 0.65);
    --frosted-bg-dark: rgba(30, 31, 34, 0.7);
    --disabled-bg-light: #e6e6e6aa;
    --disabled-bg-dark: #4c4f557a;

    /* Text Colors */
    --primary-text-light: #000000;
    --primary-text-dark: #ffffff;
    --secondary-text-light: #ffffff;
    --secondary-text-dark: #000000;
    --disabled-text: #a0a0a0;

    /* ==================== DEFAULT COLORS (NORMAL VISION) ==================== */
    /* Status Colors */
    --error-color: #D32F2F;
    --warning-color: #ffbe46;
    --success-color: #61f561;
    --info-color: #4fbeff;

    /* App Brand Colors */
    --primary-app-color: #6bc5fa;
    --secondary-app-color: #20fda1;

    /* Status Background Colors */
    --success-bg-color: #6eff6e9d;
    --warning-bg-color: #ffc8619d;
    --error-bg-color: #ff75759d;
    --info-bg-color: #4fbeff9d;

    /* App Background Colors */
    --primary-app-bg-color: #64c6ff9d;
    --secondary-app-bg-color: #20fda19d;

    /* Applied Colors (Default Light Mode) */
    --primary-bg-color: var(--primary-bg-light);
    --secondary-bg-color: var(--secondary-bg-light);
    --tersiary-bg-color: var(--tersiary-bg-light);
    --frosted-bg-color: var(--frosted-bg-light);
    --disabled-bg-color: var(--disabled-bg-light);
    --primary-text-color: var(--primary-text-light);
    --secondary-text-color: var(--secondary-text-light);
}

/* ==================== THEME OVERRIDES ==================== */

/* Dark Theme */
[data-theme="dark"] {
    --primary-bg-color: var(--primary-bg-dark);
    --secondary-bg-color: var(--secondary-bg-dark);
    --tersiary-bg-color: var(--tersiary-bg-dark);
    --frosted-bg-color: var(--frosted-bg-dark);
    --disabled-bg-color: var(--disabled-bg-dark);
    --primary-text-color: var(--primary-text-dark);
    --secondary-text-color: var(--secondary-text-dark);
}



/* ==================== ANIMATION OVERRIDE ==================== */
[data-no-animations="true"] * {
    transition: none !important;
    animation: none !important;
    scroll-behavior: auto !important;
}