:root {
    /* ==================== GENERAL SETTINGS ==================== */
    /* Font Sizes */
    --font-size-base: 1rem;       /* 16px */
    --font-size-md: 1.125rem;     /* 18px */
    --font-size-lg: 1.5rem;       /* 24px */
    --font-size-xl: 2rem;         /* 32px */
    --font-size-xxl: 2.5rem;      /* 42px */

    /* ==================== STANDARD COLORS ==================== */

    /* Background Colors */
    --primary-bg-light: #ffffff;
    --primary-bg-dark: #1e1f22;
    --secondary-bg-light: #f3f4f6;
    --secondary-bg-dark: #2b2d31;
    --tersiary-bg-light: #e5e7eb;
    --tersiary-bg-dark: #383a40;

    /* Text Colors */
    --primary-text-light: #000000;
    --primary-text-dark: #ffffff;
    --disabled-text: #a0a0a0;

    /* ==================== DEFAULT COLORS (NORMAL VISION) ==================== */
    /* Status Colors */
    --error-color: #D32F2F;
    --warning-color: #ffbe46;
    --success-color: #61f561;
    --info-color: #4fbeff;

    /* App Brand Colors */
    --primary-app-color-light: #6366f1;
    --primary-app-color-dark: #a5b4fc;
    --secondary-app-color-light: #06b6d4;
    --secondary-app-color-dark: #67e8f9;

    /* Status Background Colors */
    --success-bg-color: #6eff6e9d;
    --warning-bg-color: #ffc8619d;
    --error-bg-color: #ff75759d;
    --info-bg-color: #4fbeff9d;

    /* App Background Colors */
    --primary-app-bg-color-light: #312e819d;
    --primary-app-bg-color-dark: #4f46e59d;
    --secondary-app-bg-color-light: #164e639d;
    --secondary-app-bg-color-dark: #0891b29d;

    /* Applied Colors (Default Light Mode) */
    --primary-app-color: var(--primary-app-color-light);
    --secondary-app-color: var(--secondary-app-color-light);
    --primary-bg-color: var(--primary-bg-light);
    --secondary-bg-color: var(--secondary-bg-light);
    --tersiary-bg-color: var(--tersiary-bg-light);
    --primary-text-color: var(--primary-text-light);
    --primary-app-bg-color: var(--primary-app-bg-color-light);
    --secondary-app-bg-color: var(--secondary-app-bg-color-light);
}

/* ==================== THEME OVERRIDES ==================== */

/* Dark Theme */
[data-theme="dark"] {
    --primary-app-color: var(--primary-app-color-dark);
    --secondary-app-color: var(--secondary-app-color-dark);
    --primary-bg-color: var(--primary-bg-dark);
    --secondary-bg-color: var(--secondary-bg-dark);
    --tersiary-bg-color: var(--tersiary-bg-dark);
    --primary-text-color: var(--primary-text-dark);
    --primary-app-bg-color: var(--primary-app-bg-color-dark);
    --secondary-app-bg-color: var(--secondary-app-bg-color-dark);
}



/* ==================== ANIMATION OVERRIDE ==================== */
[data-no-animations="true"] * {
    transition: none !important;
    animation: none !important;
    scroll-behavior: auto !important;
}