.content {
  border-radius: 6px;
  border: 2px solid var(--primary-app-color);
  min-width: max-content;
  max-width: 98vw;
  max-height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  padding: 24px;
  padding-top: 3rem;
  background:
    linear-gradient(
      rgba(255, 255, 255, 0.05) 0%,
      rgba(255, 255, 255, 0.05) 100%
    ),
    repeating-linear-gradient(
      135deg,
      var(--primary-bg-color) 0%,
      var(--primary-bg-color) 25%,
      var(--secondary-bg-color) 25%,
      var(--secondary-bg-color) 50%
    );
  background-size: 200% 200%;
  background-attachment: fixed;
  background-blend-mode: overlay;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  max-height: 100vh;
  max-width: 100vw;
  background: rgba(0,0,0,0.6);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalTitle {
  font-weight: 600;
  font-size: var(--font-size-xl);
  margin-bottom: 16px;
  text-align: center;
  letter-spacing: 0.09em;
  padding: 0 0.6rem 0.1em 0.6rem;
  flex: 1 1 auto;
  line-height: 1.15;
  background: linear-gradient(to right, var(--primary-app-color), var(--secondary-app-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-emphasis-color: transparent;
  filter: drop-shadow(0 2px 8px rgba(32,253,161,0.10)) drop-shadow(0 1px 4px rgba(76,195,255,0.10));
  text-shadow:
      0 1px 4px rgba(32,253,161,0.10),
      0 1px 2px rgba(76,195,255,0.10);
  transition: background 0.3s, filter 0.3s, font-size 0.25s cubic-bezier(.4,2,.6,1);
  box-sizing: border-box;
}