.projectsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  padding: 2rem;
}

.comingSoon {
  text-align: center;
}

.comingSoon h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.comingSoon p {
  font-size: 1.5rem;
  opacity: 0.7;
}