.app {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.navigationBar {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1000;
}

.themeSwitch {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
}

.pageContent {
  padding-top: 60px;
  padding-left: 20px;
}