.app {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.navigationBar {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1000;
}

.themeSwitch {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
}

.pageContent {
  max-width: 100vw;
  height: 100vh;
}