.app {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.navigationBar {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1000;
}

.themeSwitch {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
}

.pageContent {
  padding-top: 20px;
  max-width: 100vw;
  height: calc(100vh - 20px);
}