/* Navbar styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-bg);
  padding: 14px 25px;
  color: var(--primary-text);
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: var(--box-shadow);
  font-family: 'Poppins', sans-serif; 
  background: linear-gradient(160deg, var(--secondary-bg) 50%, var(--primary-bg) 50%);
  transition: background 0.5s ease;
}

.logo {
  font-size: 2rem; 
  font-weight: 600;
  color: var(--primary-text);
  letter-spacing: 1px;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;
}

.logo:hover {
  color: var(--accent-hover);
  transform: scale(1.1);
}

.links {
  display: flex;
  gap: 25px;
}

.link {
  text-decoration: none;
  color: var(--primary-text);
  font-size: 1.1rem; 
  font-weight: 500;
  transition: color 0.3s ease, transform 0.3s ease;
}

.link:hover {
  color: var(--accent-hover);
  transform: translateY(-4px);
}

/* Settings wheel */
.settings {
  position: relative;
  cursor: pointer;
}

.wheel {
  font-size: 2.2rem; 
  transition: transform 0.3s ease, color 0.3s ease;
}

.wheel:hover {
  transform: rotate(360deg);
  color: var(--accent-hover);
}

/* Dropdown styling */
.dropdown {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: var(--primary-bg);
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 16px 18px;
  width: 280px;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.dropdown.hidden {
  opacity: 0;
  visibility: hidden;
}

/* Dropdown items */
.dropdownItem {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 12px 0;
  gap: 18px; 
  color: var(--primary-text);
  font-size: 1rem; 
  transition: color 0.3s ease, transform 0.3s ease;
}

/* Label styling */
.label {
  font-size: 0.9rem;
  color: var(--secondary-text);
  margin-bottom: 8px;
}

.label:hover {
  color: var(--tersiary-text)
}

/* Color Picker Styling */
.colorPicker {
  appearance: none; 
  -webkit-appearance: none;
  width: 100%;
  height: 30px;
  border: none; 
  outline: none; 
  padding: 0; 
  margin: 0; 
  border-radius: 25px; 
  background-color: var(--secondary-bg);
  cursor: pointer; 
}

.actionButton {
  background-color: var(--accent-hover);
  border: none;
  padding: 8px 16px; 
  border-radius: 25px;
  cursor: pointer;
  font-size: 1rem; 
  font-weight: 500; 
  width: 100%;
  text-align: center;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  margin-top: 10px; 
}

.actionButton:hover {
  background-color: var(--secondary-bg);
  color: var(--primary-text);
  transform: translateY(-3px); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.actionButton:focus {
  outline: none;
  box-shadow: 0 0 4px 2px var(--accent-hover);
}

.actionButton:active {
  transform: translateY(1px); 
}