* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary-main) var(--bg-secondary);
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--bg-secondary);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, var(--secondary-light), var(--secondary-main), var(--secondary-dark));
  border-radius: 10px;
  border: 2px solid var(--secondary-dark);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  background-size: 200% 200%;
  animation: thumbAnimation 3s ease-in-out infinite;
}

@keyframes thumbAnimation {
  0% {
    background-position: 200% 200%;
  }
  50% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 200% 200%;
  }
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(45deg, var(--secondary-main), var(--secondary-light), var(--secondary-dark));
  background-size: 200% 200%;
  animation: thumbHoverAnimation 1s ease-in-out infinite;
}

@keyframes thumbHoverAnimation {
  0% {
    background-position: 200% 200%;
  }
  50% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 200% 200%;
  }
}

::-webkit-scrollbar-thumb:focus {
  background-color: var(--secondary-dark);
  box-shadow: 0 0 15px 3px var(--secondary-light);
}

.scrollbarContainer {
  overflow-y: auto;
  max-height: 100%;
  padding-right: 12px;
}